<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<script type="text/javascript" th:fragment="javascript">
    $(document).ready(function () {

        $("#buscar_producto").autocomplete({

            source: function (request, response) {
                $.ajax({
                    url: "/factura/cargar-productos/" + request.term,
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                value: item.id,
                                label: item.nombre,
                                precio: item.precio,
                                stock: item.stock
                            };
                        }));
                    },
                });
            },
            select: function (event, ui) {
                var cantidadEnCarrito = itemsHelper.getCantidadEnCarrito(ui.item.value);
                var cantidadDisponible = ui.item.stock - cantidadEnCarrito;


                if (cantidadDisponible <= 0) {
                    alert("No hay suficiente stock disponible para este producto.");
                    return false;
                }


                var cantidadAAgregar = 1;
                if (cantidadEnCarrito > 0) {
                    cantidadAAgregar = Math.min(1, cantidadDisponible);
                }

                if (itemsHelper.hasProducto(ui.item.value)) {
                    itemsHelper.incrementaCantidad(ui.item.value, ui.item.precio, cantidadAAgregar);
                    return false;
                }

                var linea = $("#plantillaItemsFactura").html();

                linea = linea.replace(/{ID}/g, ui.item.value);
                linea = linea.replace(/{NOMBRE}/g, ui.item.label);
                linea = linea.replace(/{PRECIO}/g, ui.item.precio);
                linea = linea.replace(/{STOCK}/g, cantidadDisponible);

                $("#cargarItemProductos tbody").append(linea);
                itemsHelper.calcularImporte(ui.item.value, ui.item.precio, cantidadAAgregar);

                return false;
            }
        });
        $("form").submit(function () {
            $("#plantillaItemsFactura").remove();
            return;
        });

    });

    var itemsHelper = {
        calcularImporte: function (id, precio, cantidad) {
            $("#total_importe_" + id).html(parseInt(precio) * parseInt(cantidad));
            this.calcularGranTotal();
        },
        hasProducto: function (id) {

            var resultado = false;

            $('input[name="item_id[]"]').each(function () {
                if (parseInt(id) == parseInt($(this).val())) {
                    resultado = true;
                }
            });

            return resultado;
        },

        getStockDisponible: function (id) {
            var stock = 0;

            $('input[name="item_id[]"]').each(function () {
                if (parseInt(id) == parseInt($(this).val())) {
                    stock++;
                }
            });

            return stock;
        },

        getStockTotal: function (id) {
            var stock = parseInt($("#stock_" + id).val());
            return isNaN(stock) ? 0 : stock;
        },

        getCantidadEnCarrito: function (id) {
            var cantidad = parseInt($("#cantidad_" + id).val());
            return isNaN(cantidad) ? 0 : cantidad;
        },

        incrementaCantidad: function (id, precio, cantidadAAgregar) {
            var cantidadEnCarrito = this.getCantidadEnCarrito(id);
            var cantidadDisponible = this.getStockTotal(id) - this.getStockDisponible(id);

            cantidadAAgregar = Math.min(cantidadAAgregar, cantidadDisponible);
            $("#cantidad_" + id).val(cantidadEnCarrito + cantidadAAgregar);
            this.calcularImporte(id, precio, cantidadEnCarrito + cantidadAAgregar);
        },

        eliminarLineaFactura: function (id) {
            $("#row_" + id).remove();
            this.calcularGranTotal();
        },
        calcularGranTotal: function () {
            var total = 0;

            $('span[id^="total_importe_"]').each(function () {
                total += parseInt($(this).html());
            });

            $('#gran_total').html(total);
        }
    }
</script>
</body>
</html>